@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

#PageContent {
    max-width: 900px;
    margin: 2rem auto;
    padding: 1rem;
}

/* Typography */
#PageContent h2, #PageContent h3 {
    text-align: left; 
    color: black;
    margin-bottom: 1rem;
    font-family: "Roboto Condensed", serif;
    font-weight: bold;
}

#PageContent p, #PageContent li {
    font-family: "Raleway", serif;
}

/* Contact Info Styling */
#ContactInfo {
    text-align: left;
    margin-bottom: 2.5rem; /* Space below contact section */
    padding: 1rem;
    background-color: #f2f2f2;
    border-left: 4px solid #0d6efd;
    border-radius: 8px;
}

/* Section spacing */
#Education, #Skills, #Project {
    margin-bottom: 2rem;
    clear: both;
}

/* Project Headings */
#Project h2 {
    margin-bottom: 1.5rem;
}

#Project h3 {
    margin-top: 1rem;
}

/* Lists */
#Education li,
#Project li,
#Skills li {
    list-style-type: circle;
    margin-left: 2rem;
    font-size: 1.4rem;
}
